@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

@import "tailwindcss";

@utility dash { border: 1px dashed; }

@utility dash-all { & * { border: 1px dashed; } }

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --text-12: calc(var(--spacing) * 12);
  --text-10: calc(var(--spacing) * 10);
  --text-8: calc(var(--spacing) * 8);
  --text-6: calc(var(--spacing) * 6);
  --text-4: calc(var(--spacing) * 4);
  --text-3: calc(var(--spacing) * 3);
}

:root {
  --background-color: var(--color-zinc-100);
  --text-color: var(--color-zinc-800);
  --font-Cairo: 'Cairo', sans-serif, serif;
  --input-shadow: var(--color-white);
}

[data-theme=dark] {
  --background-color: var(--color-zinc-900);
  --text-color: var(--color-zinc-100);
  --input-shadow: var(--color-zinc-800);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-Cairo);
}

input:is(:-webkit-autofill, :-webkit-autofill:focus) {
  outline: none;
  caret-color: var(--text-color);
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 40rem var(--input-shadow) inset;
}

select:not([size]) {
  appearance: none;
  background-image: var(--lucide-chevron-down);
  background-repeat: no-repeat;
  background-position: right calc(var(--spacing) * 3) center;
}